@media(max-width:1040px){
  body{
    padding-top: 3rem;
    padding-right: 3rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }
  .container{
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    grid-template-rows: auto;
    
  }
  .reviews-section{
    grid-column: auto;
    grid-row: auto;
  }
  .manage-platforms-section{
    grid-column: auto;
    grid-row: auto;
    padding: 1rem;
  }
}