@media (max-width: 1040px) {
  body {
    padding: 3rem 0;
  }
  .container {
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: auto;
  }

  .review-section,
  .manage-platforms-section,
  .consistent-posting-section,
  .ssocial-media-schedule-section,
  .grow-followers-section,
  .audience-growth-section,
  .create-content-section,
  .ai-writing-section {
    grid-column: auto;
    grid-row: auto;
  }

  .manage-platforms-section{
    padding: 1rem;

    & h3 {
      margin-blocK: 1.5rem;
    }
  }

  .consistent-posting-section{
    overflow: hidden;
    position: initial;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & img {
      position: initial;
      transform: translateY(30px);
    }
  }

  .social-media-schedule-section{
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    display: grid;
    place-items: center;

    & h3 {
      text-align: center;
    }

    & img {
      width: 90%;
    }

    & p {
      font-size: 1.3rem;
      text-align: center;
    }
  }

  .grow-followers-section {
    display: grid;
    place-items: center;
    gap: 2rem;

    & img {
      width: 80%;
    }

    & h2 {
      text-align: center;
    }
  }

  .audience-growth-section {
    & img {
      width: 80%;
      margin-top: 2rem;
    }
  }

  .create-content-section {
    & img {
      width: 60%;
      text-align: left;
      justify-self: flex-start;
      margin-top: 2rem;
    }
  }

  .ai-writing-section {
    gap: 2rem;

    & img {
      width: 80%;
    }
  }

  footer{
  padding-block-end: 2rem;
  }

}

@media (max-width: 640px) {
  body {
    height: min-content;
  }
}