@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@font-face {
  font-family: "DM Sans", serif;
  src: url("./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "DM Sans", serif;
  src: url("/assets/fonts/DMSans-VariableFont_opsz\,wght.ttf") format("ttf");
  font-weight: 400;
}
:root {
  --Purple-100: hsl(254, 88%, 90%);
  --Purple-000: hsl(256, 67%, 69%);
  --Purple-500: hsl(256, 67%, 59%);
  --Purple-transparent: hsl(256, 67%, 80%);

  --Yellow-000: hsl(39, 100%, 71%);
  --Yellow-transparent: hsl(39, 100%, 81%);
  --Yellow-100: hsl(31, 66%, 93%);
  --Yellow-500: hsl(39, 100%, 71%);

  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 7%);

  --font-size: 1.125rem;
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}